<div class="animate__animated animate__fadeIn ">
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <h1>Juego de la memoria de los ODS</h1>
      <ul class="cards">
        <li class="card">
          <div class="view front-view">
            <img src="./../../../../assets/que_icon.png" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./../../../../assets/ods/ods-1.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="assets/que_icon.png" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./../../../../assets/ods/ods-1.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="assets/que_icon.png" alt="icon">
          </div>
          <div class="view back-view">
            <img src="assets/ods/ods-2.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="assets/que_icon.png" alt="icon">
          </div>
          <div class="view back-view">
            <img src="assets/ods/ods.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="assets/que_icon.png" alt="icon">
          </div>
          <div class="view back-view">
            <img src="assets/ods/ods.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="assets/que_icon.png" alt="icon">
          </div>
          <div class="view back-view">
            <img src="assets/ods/ods.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="assets/que_icon.png" alt="icon">
          </div>
          <div class="view back-view">
            <img src="assets/ods/ods.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="assets/que_icon.png" alt="icon">
          </div>
          <div class="view back-view">
            <img src="assets/ods/ods.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="assets/que_icon.png" alt="icon">
          </div>
          <div class="view back-view">
            <img src="assets/ods/ods.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="assets/que_icon.png" alt="icon">
          </div>
          <div class="view back-view">
            <img src="assets/ods/ods.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="assets/que_icon.png" alt="icon">
          </div>
          <div class="view back-view">
            <img src="assets/ods/ods.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="assets/que_icon.png" alt="icon">
          </div>
          <div class="view back-view">
            <img src="assets/ods/ods.png" alt="card-img">
          </div>
        </li>
        <div class="details">
          <p class="time">Tiempo: <span><b>20</b>s</span></p>
          <p class="flips">Intentos: <span><b>0</b></span></p>
          <button>Volver a empezar</button>
        </div>
      </ul>
    </div>
  </body>
</html>
</div>