<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <mat-card class="mt20">
            <mat-card-header>
              <mat-card-title>
                Esta es la mejor aventura de todo el mundo!
              </mat-card-title>
            </mat-card-header>
            <iframe [src]="youtubeUrl" width="680" height="400" frameborder="0" allowfullscreen></iframe>
            <mat-card-content class="ml30">
              
              <p>{{ examen.description }}</p>
              <mat-divider></mat-divider>
            <br>
            <h1>Instrucciones importantes</h1>
            <ul>
              <li>Este cuestionario es solo para fines de práctica y de diversion pura la historia es un gran complemento </li>
            </ul>
            <mat-divider></mat-divider>
            <br>
          </mat-card-content>
          <mat-card-actions class="text-center mb20">
            <button (click) = "empezarLaHistoria()" mat-raised-button color="primary">
              Comenzar La historia
            </button>
          </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  