<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <mat-card class="mt20">
            <mat-card-header>
              <mat-card-title>
                Esta es la mejor aventura de todo el mundo!
              </mat-card-title>
            </mat-card-header>
            <video width="1020" height="540" controls>
                <source [src]="firstVideo" type="video/mp4">
            </video>
            <mat-card-content class="ml30">
              <h1>{{ examen.firstVideo }}</h1>
              <p>{{ examen.description }}</p>
              <mat-divider></mat-divider>
            <br>
            <h1>Instrucciones importantes</h1>
            <ul>
              <li>Este cuestionario es solo para fines de práctica</li>
              <li>Tienes que enviar el cuestionario en <b>{{ examen.numberQuestions * 2 }} minutos</b></li>
              <li>Puede intentar el cuestionario cualquier cantidad de veces</li>
              <li>Hay <b>{{ examen.maxScore/examen.numberQuestions }} puntos por pregunta</b></li>
            </ul>
            <mat-divider></mat-divider>
            <br>
          </mat-card-content>
          <mat-card-actions class="text-center mb20">
            <button (click) = "empezarLaHistoria()" mat-raised-button color="primary">
              Comenzar La historia
            </button>
          </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  