<body>
    <img class="wave" src="assets/wave.png">
	<div class="container">
		<div class="img">
			<img src="assets/Objetivos.png">
		</div>
		<div class="login-content">
			<form (ngSubmit) = "formSubmit()">
				<img src="assets/superhero.svg">
				<h2 class="title">Bienvenidos</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Usuario</h5>
           		   		<input [(ngModel)]="loginData.email" name="email" required type="text" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Contraseña</h5>
           		    	<input [(ngModel)]="loginData.password" name="password" required type="password" class="input">
            	   </div>
            	</div>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
</body>
